.kker {
	font-size: 18px;
	font-family: "細明體";
	font-weight: bold;
	font-variant: normal;
	font-style: normal;
	padding-left: 33px;
	letter-spacing: 5px;
	line-height: 18px;
}
.textBasic3 {
	font-family: "新細明體";
	font-size: 12pt;
}
.textCaption {
	font-family: "新細明體";
	font-size: 7pt;
}
.textBasic2 {
	font-family: "新細明體";
	font-size: 9pt;
}
.textBasic {
	font-family: "新細明體";
	font-size: 10pt;
}
.smallFont {
	font-family: "Lucida sans Unicode";
	font-size: 9px;
	color: #333333;
	padding: 2px;
}
.table_style {
	background-image: url(pics/dropbg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.text_filename {
	font-family: "新細明體";
	font-size: 10pt;
	padding: 2px;
}
.text_lucida {
	font-family: "lucida Sans Unicode", Arial;
	font-size: 12px;
	font-weight: normal;
	word-spacing: 5px;
}
.highlight {
	font-family: "細明體";
	font-size: 10pt;
	font-weight: bold;
	color: #FF0000;
}
