td {

	vertical-align: top;
	font-family:Tahoma;
	font-size:12px;
	color:#757272;
}
td.mid {
	text-align: center;
	vertical-align: middle;
	font-family:Tahoma;
	font-size:12px;
	color:#757272;
	line-height: 22px;
}
form
{
	margin:0px;
}
.m1
{
	color:#935A17;
	text-decoration:none;
	font-weight:normal;
	font-size: 12px;
}
a.m1
{
	color:#935A17;
	text-decoration:none;
}
a.m2
{
	color:#737373;
	text-decoration:none;

}
a.m3
{
	color:#6A6868;
	text-decoration:none;
	font-size: 12px;
	line-height: 22px;


}
a.m4
{
	color:#FFFFFF;
	text-decoration:none;
	font-size: 12px;
}
.copy
{
	color:#757272;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	background-position: center;


}
a.copy
{
	color:#757272;
	text-decoration:none;
}
.menu
{
	color:#4D4D4D;
	text-indent: 3pt;
	font-size: 12px;
    text-decoration:none;
}
a.menu
{
	color:#4d4d4d;
	text-decoration:none;
}
a.n
{
	color:#757272;
	text-decoration:none;
}
.t16B
{
	color:#666666;
	font-size: 16px;
	line-height: 28px;
	font-weight: bold;

}
.t13B
{
	font-size:13px;
	font-weight: bold;
	line-height: 26px;


}
.text-int {
	font-size: 13px;
	line-height: 23px;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-decoration: none;
	color: #666666;
	letter-spacing: 1px;}
.text-rint {
	font-size: 13px;
	line-height: 23px;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	text-decoration: none;
	color: #F93B26;
	letter-spacing: 1px;}
a:hover {
	color: #CC0000;
}
a:link {
	color: #666666;
}
.text-sub {
	font-size: 12px;
	font-weight: bold;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	line-height: 20px;
}
.white {
	font-size: 12px;
	color: #FFFFFF;
}
