body {
	margin: 0px;
	background-color: #F4F4F7;
}
td {
	font-size: 12px;
	color: #3F3F3F;
	line-height: 16px;
}
.word {
	font-family: "新細明體";
	font-size: 12px;
	color: #666666;
	line-height: 20px;
}
.word4 {
	font-family: "新細明體";
	font-size: 11px;
	color: #666666;
	line-height: normal;

}
a:link {
	font-family: "新細明體", "標楷體";
	font-size: 12px;
	color: #666600;
	text-decoration: none
}
a:visited {
	font-family: "新細明體", "標楷體";
	color: #666600;
	text-decoration: none
}
a:hover {
	font-family: "新細明體", "標楷體";
	color: #990000;
	text-decoration: none
}
.link1:link {
	font-family: "新細明體";
	font-size: 12px;
	color: #FFFFFF;
}
.link1:visited {
	font-family: "新細明體";
	font-size: 12px;
	color: #FFFFFF;
}
.link1:hover {
	font-family: "新細明體";
	font-size: 12px;
	color: #FFCC00;
	text-decoration: underline;
}
.word02 {
	font-family: "新細明體",Arial, Helvetica, sans-serif, ;
	font-size: 11px;
	color: #B0CB54;
}
.word03 {
	font-family: "新細明體", Arial, Helvetica, sans-serif, ;
	font-size: 12px;
	color: #FFFFFF;
}
.myAlbum_bg1 {
	background-color: #FFF7E5;
	border: 1px solid #CC9C30;
}
.myAlbum_bg11 {
	background-color: #E6FFE9;
	border: 1px solid #99CC33;
}
.myAlbum_bg2 {
	color: #5A4B44;
	background-image: none;
	background-repeat: repeat;
	border: 1px solid #E3C996;
	background-color: #FFFFFF;
}
.myAlbum_bg3 {
	color: #5A4B44;
	background-image: url(../cimg/myAlbum_bg.gif);
	background-repeat: repeat;
	border: 1px solid #CC9C30;
	margin-top: 7px;
	margin-bottom: 7px;
}
.myAlbum_bg4 {
	color: #5A4B44;
	background-image: url(../cimg/myAlbum_bg.gif);
	background-repeat: repeat;
	border: 1px solid #CC9C30;
	margin-top: 7px;
}
.myAlbum_bg41 {
	color: #5A4B44;
	background-image: url(../cimg/myAlbum_bg.gif);
	background-repeat: repeat;
	border: 1px solid #99CC33;
	margin-top: 7px;
}
.myAlbum_bg5 {
	color: #5A4B44;
	background-repeat: repeat;
	border: 1px solid #009999;
	margin-top: 7px;
}
.titlebar_bg1 {
	color: #FFFFFF;
	background-image: url(../cimg/titlebar_bg1.gif);
	background-repeat: no-repeat;
}
.myAlbum_txtspace1 {
	text-align: right;
	padding-right: 6px;
	padding-top: 4px;
}
.myAlbum_txtspace2 {
	text-align: left;
	color: #478BAE;
	padding-left: 6px;
	padding-top: 4px;
}
.title01 {
	font-family: "新細明體";
	font-size: 12px;
	font-weight: bold;
	color: #990000;
}
.title02 {
	font-family: "新細明體";
	font-size: 14px;
	font-weight: bold;
	color: #666666;
}
.qatxtArea {
	padding: 10px;
	border: 1px solid #9F81D2;
}
.txt_color1 {
	color: #8F0884;
}
.txt_color2 {
	color: #619DE7;
}
.txt_color3 {
	color: #FF880F;
}
.txt_color4 {
	color: #7178D7;
	font-size: 14px;
	font-weight: bold;
}
.txt_color5 {
	color: #478BAE;
	font-size: 13px;
	font-weight: normal;
}
.txt_color6 {
	color: #9F8D7F;
}
.txt_color7 {
	color: #FFFFFF;
}
.txt_color8 {
	color: #CC0000;
	font-size: 12px;
	font-weight: normal;
}
.txt_color9 {
	color: #000000;
	font-size: 13px;
}
.txt_color10 {
	color: #7178D7;
	font-size: 18px;
	font-weight: bolder;
	font-family: "Times New Roman", Times, serif;
}
.txt_color12 {
	color: #FF6600;
	font-size: 18px;
	font-weight: bolder;
	font-family: "新細明體";
}
.txt_color11 {
	color: #FFCC00;
}
.txt_pix11 {
	font-size: 11px;
}
.color5 {
	color: #FFFFFF;
}

.txt_style1 {
	font-size: 13px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
.txt_style2 {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
.a1:link {
	text-decoration: none;
	color: #3F3F3F;
}
.a1:visited {
	text-decoration: none;
	color: #3F3F3F;
}
.a1:hover {
	text-decoration: underline;
	color: #FF880F;
}
.a2:link {
	text-decoration: underline;
	color: #FF880F;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.a2:visited {
	text-decoration: underline;
	color: #FF880F;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.a2:hover {
	text-decoration: underline;
	color: #990000;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.a3:link {
	text-decoration: underline;
	color: #FF880F;
}
.a3:visited {
	text-decoration: underline;
	color: #FF880F;
}
.a3:hover {
	text-decoration: underline;
	color: #FF7242;
}
.a4:link {
	text-decoration: underline;
	color: #993300;
	font-weight: normal;
}
.a4:visited {
	text-decoration: underline;
	color: #993300;
	font-weight: normal;
}
.a4:hover {
	text-decoration: underline;
	color: #FF7242;
	font-weight: normal;
}
.txtArea1 {
	padding-right: 6px;
	color: #5C64C5;
}
.txtArea2 {
	padding-top: 8px;
	padding-left: 8px;
	color: #5C64C5;
	padding-right: 8px;
}
.txtArea3 {
	font-family: Arial, Helvetica, sans-serif, "新細明體";
	font-size: 11px;
	padding-left: 6px;
}
.txtArea4 {
	padding-top: 2px;
	padding-bottom: 4px;
	padding-left: 8px;
}
.txtArea5 {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.txtArea6 {
	padding-top: 2px;
}
.txtArea7 {
	padding-top: 3px;
}
.txtArea8 {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	color: #FF880F;
}
.txtArea9 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-bottom: 2px;
}
.txtArea10 {
	margin-bottom: 6px;
}
.txtArea11 {
	padding-top: 3px;
	padding-bottom: 3px;
}
.txtArea12 {
	padding-top: 8px;
	padding-left: 7px;
}
.txtArea13 {
	padding-top: 8px;
	padding-bottom: 4px;
	padding-left: 7px;
}
.txtArea14 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.txtArea15 {
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 1px;
	padding-left: 6px;
}
.txtArea16 {
	padding: 10px;
}

.photoArea_bg {
	background-image: url(../cimg/photoArea_bg.gif);
	background-repeat: no-repeat;
	background-position: 2px top;
}
.photoArea_basebg {
	background-image: url(../cimg/photoArea_basebg.gif);
	background-repeat: no-repeat;
	background-position: bottom;
}
.photoArea_bg_h80 {
	background-image: url(../cimg/photoArea_bg_h80.gif);
	background-repeat: no-repeat;
	background-position: bottom;
}
.photoArea {
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
}
.photoArea2 {
	margin-right: 4px;
	margin-left: 8px;
}
#txtfunArea_sub {
	padding-top: 8px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 4px;
}
#txtfunArea_sub2 {
	padding-bottom: 4px;
	padding-left: 8px;
}
.txtfunArea_border {
	background-color: #FFFFFF;
	border: 1px solid #666666;
}
.txtfunArea_bg {
	background-image: url(../cimg/txtfunArea_bg.gif);
	background-repeat: no-repeat;
}
.boxArea10 {
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP: #999999 1px solid;
	PADDING-LEFT: 4px;
	FONT-SIZE: 11px;
	BORDER-LEFT: #999999 1px solid;
	COLOR: #666666;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #999999 1px solid;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	HEIGHT: 15px;
	background-color: #DDF0FF;
}
